@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
      
body{
font-size: clamp(16px, 1.2vw, 24px);
font-family: 'Kumbh Sans', sans-serif;
}

.size-cart{
    max-width: clamp(275px, 2vw, 600px);
}